@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* переменные */

  --blank-color: #ffff;
  --primary-color: #ff6633;
  --primary-muted-color: #fcd5ba;
  --secondary-color: #70c05b;
  --secondary-muted-color: #e5ffde;
  --onSurface-color: #414141;
  --onBackground-color: #291e0f;
  --BGPage-color: #fbf8ec;

  --lightest-grayscale-color: #f3f2f1;
  --light-grayscale-color: #bfbfbf;
  --hard-grayscale-color: #8f8f8f;
  --hardest-grayscale-color: #606060;

  --onError-color: #f2f2f2;
  --error-color: #d80000;
  --error-muted: #ffc7c7;
  --onSuccess-color: #f2f2f2;
  --success-color: #008c49;
  --info-color: #1cb9fc;
  --warning-color: #fca21c;

  --font-main: "Rubik";

  /* Text-size styles */
  --desc---text---xs: 12px;
  --desc---text---s: 16px;
  --desc---text---m: 18px;
  --desc---text---l: 24px;
  --desc---text---xl: 36px;
  --desc---text--bold---xs: 12px;
  --desc---text--bold---s: 16px;
  --desc---text--bold---m: 18px;
  --desc---text--bold---l: 24px;
  --desc---text--bold---xl: 36px;
  --desc---header---xs: 18px;
  --desc---header---s: 24px;
  --desc---header---m: 36px;
  --desc---header---l: 48px;
  --desc---header---xl: 64px;
  --mob---text---xs: 8px;
  --mob---text---s: 12px;
  --mob---text---m: 14px;
  --mob---text---l: 20px;
  --mob---text---xl: 32px;
  --mob---text-bold---xs: 8px;
  --mob---text-bold---s: 12px;
  --mob---text-bold---m: 14px;
  --mob---text-bold---l: 20px;
  --mob---text-bold---xl: 32px;
  --mob---header---xs: 16px;
  --mob---header---s: 20px;
  --mob---header---m: 24px;
  --mob---header---l: 36px;
  --mob---header---xl: 48px;
  --vk---header---xl: 96px;
  --vk---header---l: 72px;
  --vk----header---m: 64px;

  --line-height-standart: 150%;
}
