
.container {
	max-width: 1208px;
	margin: 0 auto;
}

.heading {
	color: var(--onSurface-color);
	font-family: var(--font-main);
	font-weight: bold;
	line-height: var(--line-height-standart);
	margin-bottom: 40px;
}

.heading_md {
	font-size: var(--desc---header---m);
}

.banners {
	display: flex;
	gap: 40px;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0px 30px 40px;
	max-width: 584px;
	height: 200px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	gap: 40px;
}

.banner_padding {
	padding-right: 40px;
}

.banner_primary-muted {
	background-color: var(--primary-muted-color);
	box-shadow: 2px 4px 16px 0 #CA936080;
}

.banner_secondary-muted {
	background-color: #E5FFDE;
}

.banner__content {
	max-width: 240px;
	min-width: 182px;
}

.banner__title {
	font-size: var(--desc---text--bold---l);
	margin-bottom: 6px;
	font-family: var(--font-main);
	line-height: var(--line-height-standart);
	color: var(--onSurface-color);
}

.banner__text {
	font-size: var(--desc---text---s);
	font-family: var(--font-main);
	line-height: var(--line-height-standart);
	color: var(--onSurface-color);
}

.banner__image-block {
	position: relative;
	width: 300px;
	height: 200px;
}

.banner__image-forest {
	max-width: 200px;
	border-radius: 10px;
	box-shadow: 0 8px 47px 0 #C85A3582;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translateY(-50%) rotateZ(13.8deg);
}

.banner__image-basket {
	max-width: 193px;
	position: absolute;
	top: 53%;
	right: 45px;
	z-index: 1;
	transform: translateY(-50%);
}

/* Стили и позиции плюсиков */

.banner__image-plus-tiny {
	width: 9px;
	height: 8px;
}

.banner__image-plus-small {
	width: 12px;
	height: 11px;
}

.banner__image-plus-medium {
	width: 18px;
	height: 17px;
}

.banner__image-plus-grow {
	width: 27px;
	height: 26px;
}

.banner__image-plus-big {
	width: 33px;
	height: 31px;
}

.banner__image-plus-titan {
	width: 40px;
	height: 39px;
}

.banner__image-plus-tiny_one {
	position: absolute;
	bottom: 16px;
	left: 21px;
}

.banner__image-plus-small_two {
	position: absolute;
	top: 17px;
	right: 394px;
}

.banner__image-plus-small_three {
	position: absolute;
	bottom: 22px;
	right: 258px;
	
}

.banner__image-plus-small_four {
	position: absolute;
	top: 14px;
	right: 34px;
}

.banner__image-plus-small_five {
	position: absolute;
	bottom: 16px;
	right: 5px;
}

.banner__image-plus-small_six {
	position: absolute;
	bottom: 21px;
	right: 106px;
}

.banner__image-plus-medium_seven {
	position: absolute;
	top: 49px;
	right: 246px;
}

.banner__image-plus-grow_eight {
	position: absolute;
	top: 17px;
	right: 112px;
}

.banner__image-plus-big_nine {
	position: absolute;
	bottom: 67px;
	right: 213px;
}

.banner__image-plus-titan_ten {
	position: absolute;
	bottom: 59px;
	right: 29px;
}

/* Стили и позиции рублей */

.banner__image-ruble-small {
	width: 27px;
	height: 30px;
}

.banner__image-ruble-medium {
	width: 31px;
	height: 33px;
}

.banner__image-ruble-big {
	width: 50px;
	height: 52px;
}

.banner__image-ruble-titan {
	width: 54px;
	height: 55px;
}

.banner__image-ruble-small_one {
	position: absolute;
	bottom: 22px;
	right: 196px;
}

.banner__image-ruble-medium_two {
	position: absolute;
	bottom: 21px;
	right: 56px;
}

.banner__image-ruble-big_three {
	position: absolute;
	top: 27px;
	right: 34px;
}

.banner__image-ruble-titan_four {
	position: absolute;
	top: 14px;
	right: 169px;
}

@media screen and (max-width: 1200px) {
	.container {
		padding-inline: 16px;
	}
}

@media screen and (max-width: 1032px) {
	.banner__image-plus-small_two {
		left: 55px;
	}
}

@media screen and (max-width: 1015px) {
	.banner__image-basket {
		left: -72px;
	}	
	.banner__image-plus-small_three {
		left: -95px;
	}
	.banner__image-plus-small_four {
		left: 120px;
	}
	.banner__image-plus-small_five {
		left: 149px; 
	}
	.banner__image-plus-small_six {
		left: 46px;
	}	
	.banner__image-plus-medium_seven {
		left: -97px;
	}
	.banner__image-plus-grow_eight {
		left: 25px;
	}	
	.banner__image-plus-big_nine {
		left: -80px;
	}	
	.banner__image-plus-titan_ten {
		left: 95px;
	}
	.banner__image-ruble-small_one {
		left: -57px;
	}
	.banner__image-ruble-medium_two {
		left: 78px;
	}
	.banner__image-ruble-big_three {
		left: 82px;
	}
	.banner__image-ruble-titan_four {
		left: -56px;
	}
}

@media screen and (max-width: 768px) {
	.heading {
		margin-bottom: 32px;
	}
	.heading_md {
		font-size: var(--desc---text--bold---l);
	}
	.banners {
		gap: 32px;
	}
	.banner {
		display: flex;
		height: 170px;
	}
	.banner__title {
		font-size: var(--desc---header---xs);
	}
	.banner__text {
		font-size: var(--desc---text---xs);
	}
	.banner__image-forest {
		max-width: 165px;
	}
	.banner__image-basket {
		max-width: 132px;
		margin-left: 20px;
	}
	.banner__image-plus-tiny {
		width: 7px;
		height: 6px;
	}
	.banner__image-plus-small {
		width: 9px;
		height: 8px;
	}
	.banner__image-plus-small_three {
		bottom: 45px;
	}
	.banner__image-plus-medium {
		width: 14px;
		height: 13px;
	}
	.banner__image-plus-grow {
		width: 20px;
		height: 20px;
	}
	.banner__image-plus-big {
		width: 25px;
		height: 24px;
	}
	.banner__image-plus-big_nine {
		display: none;
	}
	.banner__image-plus-titan {
		width: 31px;
		height: 30px;
	}
	.banner__image-ruble-small {
		width: 18px;
		height: 21px;
		bottom: 47px;
		left: -43px;
	}
	.banner__image-plus-small_six {
		bottom: 42px;
		left: 30px;
	}
	.banner__image-plus-grow_eight {
		top: 40px;
		left: 18px;
	}
	.banner__image-ruble-medium {
		width: 22px;
		height: 23px;
		bottom: 45px;
		left: 53px;
	}
	.banner__image-ruble-big {
		width: 34px;
		height: 36px;
		top: 50px;
		left: 53px;
	}
	.banner__image-ruble-titan {
		width: 37px;
		height: 38px;
		top: 42px;
		left: -41px;
	}
}

@media screen and (max-width: 500px) {
	.banner__content {
		max-width: 240px;
		min-width: 130px;
	}
	.banner__image-plus-small_three,
	.banner__image-plus-medium_seven,
	.banner__image-plus-grow_eight {
		display: none;
	} 

}

@media screen and (max-width: 360px) {
	.heading {
		margin-bottom: 16px;
	}
	.banners {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	.banner {
		max-width: 100%;
	}
	.banner__image-plus-titan_ten {
		bottom: 70px;
		left: 70px;
	}
}