
.section-2 {
 margin: 0 auto;
  width: 1208px;
  background-image: url("../images/section-2/spots.png");
  background-size: cover; 
 background-repeat: no-repeat;
  
 
}
.section-2__wrapper {
  display: flex;
 justify-content: center;
 align-items: center;
 
}
.section-2__image{
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.24));
}
.section-2__text {
  color: var(--onSurface-color);
    font-family: var(--font-main);
    font-weight: bold;
      line-height: var(--line-height-standart);
    font-size: var(--desc---text---xl);}
 