.section-1_container {
  max-width: 1208px;
  margin: 16px auto;
  height: 9wvh;
  display: flex;
}

.button {
  color: var(--blank-color);
  font-size: var(--desc---text---s);
  border-radius: 4px;
  border: none;
  line-height: var(--line-height-standart);
  font-family: var(--font-mai);
}

.button_padding-x {
  padding-inline: 8px;
}

.button_padding-y {
  padding-block: 8px;
}

.button_secondary {
  background-color: var(--secondary-color);
}

.button__text-size-entrance {
  padding: 0 18.5px;
}

.button__size-catalog {
  margin: 8px 23px;
}

.button_icon {
  display: flex;
  align-items: center;
}

.section-1__text {
  font-weight: 400;
  font-size: var(--desc---text---xs);
  line-height: var(--line-height-standart);
  position: relative;
  margin-right: 24px;
  padding-top: 26px;
  text-decoration: none;
  color: var(--onSurface-color);
}

.section-1__text:active {
  transform: translateY(1px);
}

.section-1__margin {
  width: 65px;
}

.section-1__img {
  height: 32px;
  margin-right: 40px;
}

.section-1__heart::after {
  content: url(../images/section-1/Heart.png);
  position: absolute;
  top: -8px;
  left: 14px;
}

.section-1__box::after {
  content: url(../images/section-1/box.png);
  position: absolute;
  top: -8px;
  left: 7px;
}

.section-1__basket::after {
  content: url(../images/section-1/basket.png);
  position: absolute;
  top: -10px;
  left: 7px;
}

.section-1__input {
  background-image: url(../images/section-1/search.png);
  background-repeat: no-repeat;
  background-position: 345px center;
  padding: 4px 197px 4px 16px;
  margin: 0 40px 0 16px;
}

.section-1__input::-webkit-search-cancel-button {
  display: none;
}

@media  screen and (max-width: 1200px) {
  .section-1_container{
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .section-1_container {
    margin: 16px 20px;
  }
  .section-1__img {
    content: url(../images/section-1/logo768.png);
  }
  .section-1_margin-rig,
  .section-1__basket {
    margin-right: 20px;
  }
  .section-1__text {
    margin-right: 16px;
  }
  .button__text-size-entrance {
    display: none;
  }
  .button_ms {
    background-image: url(../images/section-1/button768.png);
    min-width: 39px;
    margin-right: 27px;
  }
  .section-1__input {
    width: 325px;
    background-position: 293px center;
  }
  .button__size-catalog {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .section-1_container {
    margin: 8px 16px;
  }
  .section-1__text,
  .button {
    display: none;
  }
  .section-1_margin-rig{
    margin: 0;
  }
  .section-1__input {
    background-image: url(../images/section-1/search.png);
    background-position: 234px center;
    padding: 0 83px 0 16px;
    margin-left:20px;
  }
}
