* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;;
}

.heading_lg {
	font-size: var(--desc---text--bold---xl);
}

.place {
	display: flex;
	gap: 24px;
	margin: 40px 0 24px 0;
}

.heading_lg {
	font-weight: 700;
}

.button_blank_color {
	color: var(--blank-color);
}

.button {
	border: none;
	font-size: var(--desc---text---xs);
	border-radius: 4px;
	width: 97px;
	height: 32px;
	cursor: pointer;
}

.button:hover {
	border: 2px solid var(--success-color);
}

.button_secondary {
	background-color: var(--secondary-color);
}

.button_grayscale {
	background-color: var(--lightest-grayscale-color);
}