@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.heading {
    color: var(--onSurface-color);
    font-family: var(--font-main);
    font-weight: bold;
    line-height: var(--line-height-standart);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading_md {
    font-size: var(--desc---header---m);
}

.heading_lg {
    font-size: var(--desc---header---xl);
}

.heading_link {
    font-size: var(--desc---text---s);
    color: var(--hardest-grayscale-color);
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    position: relative;
}

.heading__chevron-right {
    margin-left: 20px;
    position: absolute;
    bottom: 0;
}

.breadcrumbs {
    font-family: var(--font-main);
    font-size: var(--desc---text---xs);
}

.breadcrumbs__link {
    text-decoration: none;
    color: var(--onSurface-color);
    display: inline-block;
}

.breadcrumbs__chevron-right {
    margin: 0 16px 0 16px;
    vertical-align: -8px;
}

.breadcrumbs__text {
    color: var(--hard-grayscale-color);
    display: inline-block;
}

.phone-number {
    font-family: var(--font-main);
    color: var(--onSurface-color);
}

.phone-number__number {
    text-decoration: underline;
    vertical-align: 7px;
    font-size: var(--desc---text---s);
    line-height: var(--line-height-standart);
}