/* show */
.show {
    background-color: var(--secondary-color);
    border: 1px solid var(--lightest-grayscale-color);
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    color: #FFFFFF;
}

.show::after {
    content: url(img/minus.png);
    position: relative;
    top: -12%;
}

.show:checked::after {
    content: url(img/plus.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
    position: relative;
    top: 4%;
}

/* checkbox */
.checkbox {
    border: 1px solid var(--lightest-grayscale-color);
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}



.checkbox:checked::after {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 4px;
}

/* без js */
.counter {
    display: flex;
    width: 100px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.counter__plus,
.counter__minus {
    display: none;
}

.counter__img:active {
    transform: translateY(-1px)
}

.counter__switches {
    width: 30px;
    height: 28px;
    margin-left: 30px;
}

.counter__number {
    font-size: var(--desc---text---s);
    line-height: 30px;
    padding-left: 10px;
    color: white;
}

.counter__slide {
    position: absolute;
    top: 12px;
    left: 35px;
    height: 30px;
    width: 30px;
}

.counter__switches--positions {
    display: none;
    position: absolute;
    top: 8px;
    left: 14px;
}

.counter__switches--positions label:last-child {
    position: absolute;
    top: -1px;
    left: 48px;
}

#counter--control1:checked~.counter__slide {
    transform: translateY(-5px);
}

#counter--control2:checked~.counter__slide {
    transform: translateY(-35px);
}

#counter--control3:checked~.counter__slide {
    transform: translateY(-65px);
}

#counter--control4:checked~.counter__slide {
    transform: translateY(-95px);
}

#counter--control1:checked~.counter__switches .counter__switches--positions:nth-child(1),
#counter--control2:checked~.counter__switches .counter__switches--positions:nth-child(2),
#counter--control3:checked~.counter__switches .counter__switches--positions:nth-child(3),
#counter--control4:checked~.counter__switches .counter__switches--positions:nth-child(4) {
    display: block;
}

/* с js */

.counterJs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.counter__btn-plus,
.counter__btn-minus {
    padding: 0;
    margin-bottom: 8px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    margin-top: 5px;
}

.counter__num {
    color: #FFFFFF;
}

.counter__btn-plus:active,
.counter__btn-minus:active {
    transform: translateY(-1px);
}

/* togle */
.togle__switcher {
    appearance: none;
    width: 46px;
    height: 24px;
    border: 1px solid black;
    border-radius: 49px;
    position: relative;
    transition: 0.3s;
}

.togle__switcher:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: var(--secondary-color);
    top: 1.5px;
    left: 1px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    transition: 0.3s;
}

.togle__switcher:checked:after {
    background-color: #FFFFFF;
    transform: translateX(22px);
}

.togle__switcher:checked {
    background-color: var(--secondary-color);
}

/* range */
.range {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    height: 34px;
    margin-top: 50px;
    margin-left: 0;
}

.range::before {
    content: '';
    display: block;
    width: 147px;
    height: 4px;
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 2px;
    margin-left: 5px;
}

.range__custom {
    appearance: none;
    pointer-events: none;
    outline: none;
    position: absolute;
    top: 0;
    background-color: transparent;
    z-index: 0;
    width: 153px;
}

range__custome:focus {
    outline: none;
}

.custom-range::-webkit-slider-runnable-track {
    appearance: none;
    height: 4px;
    background-color: transparent;
}

.range__custom::-moz-range-track {
    appearance: none;
    height: 4px;
    background-color: transparent;
}

.range__custom::-ms-track {
    appearance: none;
    height: 4px;
    background-color: transparent;
}

.range__custom::-webkit-slider-thumb {
    appearance: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: solid 2px #e8e7e6;
    background-color: var(--secondary-color);
    cursor: grab;
    pointer-events: auto;
    z-index: 1;
}

.range__custom::-moz-range-thumb {
    appearance: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: solid 2px #e8e7e6;
    background-color: var(--secondary-color);
    cursor: grab;
    pointer-events: auto;
    z-index: 1;
}

.range__custom::-ms-thumb {
    appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: solid 2px #e8e7e6;
    background-color: var(--secondary-color);
    cursor: grab;
    pointer-events: auto;
    z-index: 1;
}

.range__custom:hover::-webkit-slider-thumb {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.range__custom:hover::-moz-range-thumb {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.range__custom:hover::-ms-thumb {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.range__custom:active::-webkit-slider-thumb {
    cursor: grabbing;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.range__custom:active::-moz-range-thumb {
    cursor: grabbing;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.range__custom:active::-ms-thumb {
    cursor: grabbing;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}