.label-sale_primary{
    display: inline-block;
    font-size: var(--desc---text---s);
    background-color: var(--primary-color);
    text-align: center;
    padding: 4px 8px;
    color: var(--blank-color);
    border-radius: 4px;
}
.star{
    display: inline-block;
    width: 16px;
    height: 16px;
}
.product-main{
    display: inline-block;
    width: 272px;
    height: 349px;
    border: 1px solid red;
    position: relative;
    border-radius: 4px;
}
.product-main>*{
    display: block
    
}
.product-main__image{
    width: 272px;
    height: 160px;
}
.product-main__favourites{
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
}
.product-main__price{
    font-size: var(--desc---text---m);
    font-weight: 700;
}